.main {
    height: 100%;
    width: 100%;
    float: left;
    top: 20px;
 }
.left {
    left: 60px;
    width: 40%;
    padding: 0 20px;
    height: 100%;
    position: absolute;
    float: left;
    border-right: 1px solid rgb(41, 39, 39);
    overflow-x: auto; 
    text-align:justify; 
 }
.right {
    right: 30px;
    width: 50%;
    padding: 0 20px;
    height: 100%;
    position: absolute;
    overflow-x: auto; 
    text-align:justify; 
 }
 .full {
     position: absolute;
     left: 60px;
     padding: 0 0 0 20px;
 }
   /* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  /* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
  }

.grid-container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 320px 320px;
    /* background-color: #2196F3; */
    padding: 10px;
  }
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
.grid-item-inner {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: -1;
  }
  .content {
    width: 100%;
    height: 300px;
    padding: 0 18px;
    display: none;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.8);

  }
  .container {
    width: 100%;
  }
  .selected-Ingredients {
    font: verdana;
    color: white;
    position: absolute;
    top: 40%;
    align-content: center;
  }
  .addCustomIngredient {
    width: 60px;
    height: 60px;
  }

  .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #6BBE92;
    cursor: pointer;
  }