html, body {
  height: 100%;
  width: 100%;
  font: normal 14px/100% Helvetica, monospace;
  color: rgb(15, 1, 1);
  background-color: #28333a;
}
h1 {
  color: white;
  text-align: center;
  padding: 15px 0 15px 0;
}

h2 {
  color: white;
  text-align: center;
  padding: 15px 0 15px 0;
}

a {
  color: #fff;
}
p {
  color: #fff;
  font-size: 14px;
}
button {
  background-color: #6BBE92;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  padding: 6px;
  border: none;
}

button:hover {
  background-color: rgb(96, 168, 130);
}
* {
  box-sizing: border-box;
}

input {
  border: none;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
input[type=submit] {
  position: absolute;
  left: 40%;
  cursor: pointer;
  background-color: #6BBE92;
  width: 80px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}

}


