<template>
<div class="favorites">
    <head>
      <meta charset="utf=8" />
      <title>Favorites</title>

      <link rel="stylesheet" type="text/css" href="../css/main.css" />
      <link rel="stylesheet" type="text/css" href="../css/classes.css" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    </head>

    <body>
      <h1>Favorites</h1>
      <sidebar ref="side"></sidebar>
      <div class="main">
        <div class="full">
              <div class="grid-container2">
                <div v-for="recipe in favorites" class="recipes" :key="recipe.title">
                <div class="grid-item">
                  <router-link v-bind:to="'/recipe?id=' + recipe.id">
                    <img v-bind:src="recipe.image" width="300" height="300"/>
                  </router-link>
                  {{ recipe.title }}
                  <button type="button" v-on:click="deleteFav(recipe)">Delete</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </body>
</div>
</template>

<script>
/* eslint-disable */
import sidebar from '@/components/sidebar'

export default {
  name: 'favorites',
  components: {
    sidebar
  },
  data(){
    return{
      favorites: []
    }
  },
  mounted: function(){
    this.favorites = this.$refs.side.favlist;
  },
  methods: {
    deleteFav(item){
      for (var i = 0; i < this.favorites.length; i++) {
        if (this.favorites[i].title == item.title) {
            this.favorites.splice(i,1);
            break;
        }
      }
    }
  }
}
</script>

<style>
.grid-container2 {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 350px 350px 350px 350px;
    /* background-color: #2196F3; */
    padding: 10px;
  }

</style>