<template>
<div class="index">
  <head>
    <meta charset="utf=8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/classes.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
  
  </head>
  <body>
  <sidebar ref="side"></sidebar>
  <div class="left">
    <pantryPanel></pantryPanel>
  </div>
  <div class="right" @scroll="scroll">
    <input class="input2" v-model="recipeQuery" placeholder="Search for recipes..." 
      :oninput="this.updateSearch()">
    <recipeResults :recipes="recipes"></recipeResults>
  </div>
  </body>
</div>
</template>

<script type='text/javascript'>
/* eslint-disable no-unused-vars */
/* eslint-disable camelcase */
/* eslint-disable */
import sidebar from "@/components/sidebar";
import pantryPanel from "@/components/pantryPanel";
import favoritePage from "@/components/favorites";
import $ from "jquery";
import recipeResults from "@/components/recipeResults"
import recipe from "@/components/recipe"

export default {
  name: "index",
  components: {
    sidebar,
    pantryPanel,
    RecipeResults: recipeResults,
    recipe,
    favoritePage
  },
  data() {
    return {
      recipes: {},
      ingredients: null,
      recipeQuery: '',
      lastQuery: '',
      offset: 0,
      ranking: 1,
      number: 10,
      lastScrollUpdate: 0
    };
  },
  methods: {
    addfav(fav){
      this.$refs.side.setVal(fav);
    },
    updateSearch() {
      console.log("update search called")

      if(this.$children.length != 0 && this.lastQuery != this.recipeQuery) {
        this.$parent.offset = 0
        this.$children[1].fetchdata()
        this.lastQuery = this.recipeQuery
      }
    },
    scroll:function (e) {
      var scrollBar=e.target;
      if((scrollBar.scrollTop + scrollBar.clientHeight >= scrollBar.scrollHeight-20)){
          var t=new Date().getTime();
          if((t-this.lastScrollUpdate)>500){
              this.lastScrollUpdate=t;
              console.log('reached end: '+scrollBar.scrollTop+' '+scrollBar.clientHeight+' '+scrollBar.scrollHeight);
              // load more data
              this.offset = this.recipes.results.length
              this.$children[1].fetchdata()
              
          }
      }
    },

  },
};

</script>

<style>
  .input2 {
    width: 97%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: relative;
    top: 15px;
    left: 10px;
    /* background-color: rgba(255, 255, 255, 0.8); */

  }
 
</style>