<template>
  <div class ="pantryPanel">
    <h1>Pantry</h1>
  
    <button id="CatButton" v-on:click="hideSection('CatButton','IngredientPage','PantryPage')" class="PantryOptions">Choose From Categories</button>
    <button id="PantryButton" v-on:click="hideSection('PantryButton','PantryPage','IngredientPage')" class="PantryOptions">Add Your Own</button>
  
    <div id="IngredientPage" style="display:none;">
    <button v-on:click="openCollapsible('fruitBut')" id="fruitBut" type="button" class="collapsible">
      <img src="../../../img/fruits.png" height="42" width="42">&nbsp;Fruits
    </button>
    <div class="content"><div class="container"><br />
      <input type="text" class="IngredientInput" id="FruitsInput" v-on:keyup="searchIngredients('Fruits')" placeholder="Search ingredients" title="Type a food">
      <table id="Fruits" class="table table-bordered table-striped">
      <tr id="Fruit" v-for="food in fruitlist" :key=food>
        <td><input type="checkbox" v-on:click="handleClick($event)" v-bind:id="food">{{food}}</input></td>
      </tr></table></div></div>
    
    <button v-on:click="openCollapsible('vegetableBut')" id="vegetableBut" type="button" class="collapsible">
      <img src="../../../img/vegetables.png" height="42" width="42">&nbsp;Vegetables
    </button>
    <div class="content"><div class="container"><br />
      <input type="text" class="IngredientInput" id="VegetablesInput" v-on:keyup="searchIngredients('Vegetables')" placeholder="Search ingredients" title="Type a food">
      <table id="Vegetables" class="table table-bordered table-striped">
      <tr id="Vegetable" v-for="food in veglist" :key="food">
        <td><input type="checkbox" v-on:click="handleClick($event)" v-bind:id="food">{{food}}</input></td>
      </tr></table></div></div>
    
    <button v-on:click="openCollapsible('grainBut')" id="grainBut" type="button" class="collapsible">
      <img src="../../../img/starches.png" height="42" width="42">&nbsp;Starches
    </button>
    <div class="content"><div class="container"><br />
      <input type="text" class="IngredientInput" id="GrainsInput" v-on:keyup="searchIngredients('Grains')" placeholder="Search ingredients" title="Type a food">
      <table id = "Grains" class="table table-bordered table-striped">
      <tr id="Grain" v-for="food in grainlist" :key="food">
        <td><input type="checkbox" v-on:click="handleClick($event)" v-bind:id="food">{{food}}</input></td>
      </tr></table></div></div>

    <button v-on:click="openCollapsible('proteinBut')" id="proteinBut" type="button" class="collapsible">
      <img src="../../../img/protein.png" height="42" width="42">&nbsp;Proteins
    </button>
    <div class="content"><div class="container"><br />
      <input type="text" class="IngredientInput" id="ProteinsInput" v-on:keyup="searchIngredients('Proteins')" placeholder="Search ingredients" title="Type a food">
      <table id = "Proteins" class="table table-bordered table-striped">
      <tr id="Protein" v-for="food in proteinlist" :key="food">
        <td><input type="checkbox" v-on:click="handleClick($event)" v-bind:id="food">{{food}}</input></td>
      </tr></table></div></div>
    
    <button v-on:click="openCollapsible('dairyBut')" id="dairyBut" type="button" class="collapsible">
      <img src="../../../img/dairy.png" height="42" width="42">&nbsp;Dairy
    </button>
    <div class="content"><div class="container"><br />
      <input type="text" class="IngredientInput" id="DairyInput" v-on:keyup="searchIngredients('Dairy')" placeholder="Search ingredients" title="Type a food">
      <table id = "Dairy" class="table table-bordered table-striped">
      <tr id="DairyT" v-for="food in dairylist" :key="food">
        <td><input type="checkbox" v-on:click="handleClick($event)" v-bind:id="food">{{food}}</input></td>
      </tr></table></div></div>
    
    <button v-on:click="openCollapsible('condimentBut')" id="condimentBut" type="button" class="collapsible">
      <img src="../../../img/condiments.png" height="42" width="42">&nbsp;Condiments
    </button>
    <div class="content"><div class="container"><br />
      <input type="text" class="IngredientInput" id="CondimentsInput" v-on:keyup="searchIngredients('Condiments')" placeholder="Search ingredients" title="Type a food">
      <table id = "Condiments" class="table table-bordered table-striped">
      <tr id="Condiment" v-for="food in conlist" :key="food">
        <td><input type="checkbox" v-on:click="handleClick($event)" v-bind:id="food">{{food}}</input></td>
      </tr></table></div></div>
    
    <button v-on:click="openCollapsible('beverageBut')" id="beverageBut" type="button" class="collapsible">
      <img src="../../../img/beverages.png" height="42" width="42">&nbsp;Beverages
    </button>
    <div class="content"><div class="container"><br />
      <input type="text" class="IngredientInput" id="BeveragesInput" v-on:keyup="searchIngredients('Beverages')" placeholder="Search ingredients" title="Type a food">
      <table id = "Beverages" class="table table-bordered table-striped">
      <tr id="Beverage" v-for="food in bevlist" :key="food">
        <td><input type="checkbox" v-on:click="handleClick($event)" v-bind:id="food">{{food}}</input></td>
      </tr></table></div></div>

    <button v-on:click="openCollapsible('fatsBut')" id="fatsBut" type="button" class="collapsible">
      <img src="../../../img/sweets.png" height="42" width="42">&nbsp;Fats and Sweets
    </button>
    <div class="content"><div class="container"><br />
      <input type="text" class="IngredientInput" id="FatsInput" v-on:keyup="searchIngredients('Fats')" placeholder="Search ingredients" title="Type a food">
      <table id="Fats" class="table table-bordered table-striped">
      <tr id="Fat" v-for="food in fatlist" :key="food">
        <td><input type="checkbox" v-on:click="handleClick($event)" v-bind:id="food">{{food}}</input></td>
      </tr></table></div></div>
    </div>

    <div id="PantryPage">
      <div class=submitIng style="position: absolute;">
        <input type="text" id="CustomIngredient" placeholder="Add an ingredient...">
        <button type="button" id="addCustomIngredient" v-on:click="AddIngredient()">Add</button>
        <input type="file" ref="file" @change="uploadFile" accept=".txt" style="display: none;"></input>
        <button @click="$refs.file.click()" title="Select from file upload">File</button>
      </div>
      <br>
      <div class="selected" style="position: absolute; top: 38%;">
        <p>Your Ingredients</p>
      <ul class="selected-Ingredients" id="pantry" v-for="item in selectedFoods" style="position: relative; bottom: 5%;">
        {{item}}
      <button v-on:click="deleteIngredient(item)">Delete</button></ul>
    </div>
  </div>
  </div>
</template>

<script>
/* eslint-disable */
  import $ from 'jquery';
  import fs from 'fs';
  export default {
    name: 'pantryPanel',
    components: { },
    data() {
        return{
            fruitlist: null,
            veglist: null,
            proteinlist: null,
            grainlist: null,
            dairylist: null,
            bevlist: null,
            fatlist: null,
            conlist: null,
            selectedFoods: [],
        }
    },
    watch: {
      selectedFoods: {
        handler(){
          localStorage.setItem('selectedFoods', JSON.stringify(this.selectedFoods))
        },
        deep: true,
      },
    },
    created: function(){
      var thi = this;
        //load csv to table
       $.ajax({
            url: "data/food.csv",
            dataType: "text",
            success: function (data) {

            var category;
            var array = []
            var i = 0;
            var food_data = data.split(/\r?\n|\r/);
            for (var count = 0; count < food_data.length; count++) {
                var cell_data = food_data[count].split(",");
            for (var cell_count = 0; cell_count < cell_data.length; cell_count++) {
                if (cell_count === 0) {
                    if(count>0){
                        switch(category){
                            case 'Fruits':
                                thi.fruitlist = array;
                                break;
                            case 'Vegetables':
                                thi.veglist = array;
                                break;
                            case 'Grains':
                                thi.grainlist = array;
                                break;
                            case 'Proteins':
                                thi.proteinlist = array;
                                break;
                            case 'Dairy':
                                thi.dairylist = array;
                                break;
                            case 'Fats':
                                thi.fatlist = array;
                                break;
                            case 'Beverages':
                                thi.bevlist = array;
                                break;
                            case 'Condiments':
                                thi.conlist = array;
                                break;
                    }
                    i = 0;
                    array = [];
                }
                category = cell_data[cell_count];
            } else {
              if (cell_data[cell_count] !== "") {
                array[i]= cell_data[cell_count];
                i++;
              }
            }
          }
        }
        
      }
        
    });
    },
    mounted: function() {
      //event listener to enter key
        var input = document.getElementById("CustomIngredient");
        if(input) {
          input.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
              event.preventDefault();
              document.getElementById("addCustomIngredient").click();
            }
          });
        }
        //load saved data
    
      if(localStorage.getItem('selectedFoods')){
         this.selectedFoods = JSON.parse(localStorage.getItem('selectedFoods'));
      }
      var t = this;
        window.addEventListener("load",function(event){
          for(var i=0; i<t.selectedFoods.length; i++){
            var check = document.getElementById(t.selectedFoods[i].trim());
            if(check != null){
              check.checked = true;
            }
          }
    
        });
        this.$parent.offset = 0
        this.fetchdata()
    },
    methods: {

        hideSection(buttonId, pageToShow, pageToHide) {
            var e = document.getElementById(pageToShow);
            var hide = document.getElementById(pageToHide);
            e.style.display = 'block';
            hide.style.display = 'none';
            
        },
        openCollapsible(item) {
            var i = document.getElementById(item);
            i.classList.toggle("active");
            var content = i.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        },
        searchIngredients(category) {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById(category + "Input");
            filter = input.value.toUpperCase();
            table = document.getElementById(category);
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        },
        handleClick(cb) {
            if (cb.target.checked) {
                this.selectedFoods.push(cb.target.id);
                localStorage.setItem('cb.target.checked', true);
            } else {
                for (var i = 0; i < this.selectedFoods.length; i++) {
                    if (this.selectedFoods[i] == cb.target.id) {
                        this.selectedFoods.splice(i,1)
                        break;
                    }
                }
                }
                this.$parent.offset = 0
                this.fetchdata();
            },     
            AddIngredient() {
                var found = 0;
                var input = document.getElementById('CustomIngredient').value;
                input = input.trim();
                for (var i=0; i<this.selectedFoods.length; i++){
                  if(this.selectedFoods[i].toUpperCase() == input.toUpperCase()){
                    alert("You already selected this food!");
                    found = 1;
                  }
                }
                var str = input.toLowerCase();
                var n = (str.substr(0,0) + str[0].toUpperCase() + str.substr(0 + 1,str.length))
                
                var check = document.getElementById(n);
                if(check != null){
                  check.checked = true;
                }

                if(found == 0){
                  this.selectedFoods.push(n.trim());
                }

                document.getElementById("CustomIngredient").value = "";
                this.$parent.offset = 0
                this.fetchdata();
            },
              //deletes ingredient from pantry when X is clicked, takes checklist id of food to be deleted
            deleteIngredient(item) {
                for (var i = 0; i < this.selectedFoods.length; i++) {
                    if (this.selectedFoods[i] == item) {
                        this.selectedFoods.splice(i,1);
                        break;
                    }
                }
                //then find checkbox in table and uncheck
                var check = document.getElementById(item);
                if(check != null){
                  check.checked = false;
                }
                this.$parent.offset = 0
                this.fetchdata();
            },
            uploadFile(event){  
              //only handles text files right now
              var check;
              var str;
              var n;
              var file = event.target.files[0];
              var reader = new FileReader();
              var doc = this;
              reader.onload = function(ev)
              {
                var contents = ev.target.result;
                var lines = contents.split('\n');
                for(var i=0;i<lines.length;i++){
                  //doc.selectedFoods.push(lines[i].trim());
                  str = lines[i].toLowerCase();
                  n = (str.substr(0,0) + str[0].toUpperCase() + str.substr(0 + 1))
                  doc.selectedFoods.push(n.trim());
                  check = document.getElementById(n.trim());
                  
                  if(check != null){
                    check.checked = true;
                  }
                }
                if(this.$parent) { this.$parent.offset = 0 }
                doc.fetchdata();
              };

              reader.readAsText(file);

            },
            fetchdata(){
                var fetchstring = "https://spoonacular-recipe-food-nutrition-v1.p.rapidapi.com/recipes/complexSearch?query=" + this.$parent.recipeQuery
                // If there is a query, add it
                // cuisine=american
                // TODO: fixme: if there are no results for a search, then it doesn't update
                if (localStorage.getItem('diet') != null && localStorage.getItem('diet') != '') {
                  fetchstring += "&diet=" + localStorage.getItem('diet').replace(/\"/g, '');
                }
                if (localStorage.getItem('allergens') != null && localStorage.getItem('allergens') != '') {
                  console.log(localStorage.getItem('allergens'))
                  fetchstring += "&intolerances=" + 
                    (JSON.parse(localStorage.getItem('allergens'))).join('%2C')
                }

                fetchstring += "&instructionsRequired=true&limitLicense=false"
                fetchstring += "&ranking=1"
                fetchstring += "&offset=" + this.$parent.offset + "&number=" +
                  this.$parent.number
                if(localStorage.getItem('maxCalories') != null && localStorage.getItem('maxCalories') != '') {
                  fetchstring += "&maxCalories=" + JSON.parse(localStorage.getItem('maxCalories'))
                }

                if(this.selectedFoods.length != 0) {
                  fetchstring += "&includeIngredients=" + this.selectedFoods.join('%2C').replace(/\ /g, '%20')
                }
                console.log("fetchstring: " + fetchstring)

                fetch(fetchstring, {
                  "method": "GET",
                  "headers": {
                    "x-rapidapi-host": "spoonacular-recipe-food-nutrition-v1.p.rapidapi.com",
                    "x-rapidapi-key": "1944e6f2dcmshdce0068233f9288p1c35b2jsn11af6f3471ec"
                  }
                })
                .then(response => response.json())
                .then(response => {
                  console.log(response);
                  if(this.$parent.offset === 0) {
                    this.$parent.recipes = response
                  }
                  else {
                    console.log(this.$parent.recipes)
                    this.$parent.recipes.results = this.$parent.recipes.results.concat(response.results)
                  }
                }) 
                .catch(err => {
                  console.log(err);
                }); 
            }
        }
  }
</script>

<style>
  #IngredientInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 12px 12px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  .active, .collapsible:hover {
    background-color: #555;
  }
</style>
