<template>
  <div id="recipe">
    <head>
      <link rel="stylesheet" type="text/css" href="css/main.css" />
    </head>
    <sidebar></sidebar>
    <div class="recipe_details">
      <h1>
        {{ recipe.title }}
      </h1>
      <img v-bind:src="recipe.image"/>
      <div class="info">
        Preparation Time: {{ recipe.readyInMinutes }} minutes
      </div>
      <button v-on:click="toggleFavorite">Add to favorites</button>
      <div class="info">
        Serves {{ recipe.servings }}
      </div>
      <h2> Ingredients </h2>
      <div class="ingredients" v-for="ingredient in recipe.extendedIngredients">
        {{ ingredient.originalString }}
      </div>
      <h2> Instructions </h2>
      <div class="instructions">
          {{ recipe.instructions }}
      </div>
    </div>
  </div>
</template>

<style scoped>
  h1 {
    text-align: left;
  }
  .recipe_details {
    color: white;
    padding: 60px;
    text-align: left;
  }  

</style>
<script>
import sidebar from '@/components/sidebar'
export default {
  name: 'recipe',
  data () {
    return {
      recipe: null
    }
  },
  mounted: function () {
    fetch('https://spoonacular-recipe-food-nutrition-v1.p.rapidapi.com/recipes/' + this.recipeid + '/information', {
      'method': 'GET',
      'headers': {
        'x-rapidapi-host': 'spoonacular-recipe-food-nutrition-v1.p.rapidapi.com',
        'x-rapidapi-key': '1944e6f2dcmshdce0068233f9288p1c35b2jsn11af6f3471ec'
      }
    })
      .then(response => response.json())
      .then(response => {
        this.recipe = response
        console.log(response)
      })
      .catch(err => {
        console.log(err)
      })
  },
  components: {
    sidebar
  },
  props: ['recipeid']
}
</script>