<template>
  <div class="recipeResults">
    <div v-if="recipes.totalResults" style="color:#f1f1f1">
      <h2> {{recipes.totalResults}} results</h2>
    </div>
    <div class="grid-container">
      <div v-for="recipe in recipes.results" class="recipes">
        <!-- Placeholder vue code -->
        <div class="grid-item">
          <router-link v-bind:to="'/recipe?id=' + recipe.id">
            <img v-bind:src="recipe.image" width="256" height="256"/>
          </router-link>
          <i type="button" v-on:click="addFav(recipe)" id="favBtn" class="material-icons">star</i>
          {{ recipe.title }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'recipeResults',
    data: () => ({
      transparent: 'rgba(255, 255, 255, 0)'
    }),
    props: ['recipes'],
    methods: {
      addFav (fav) {
        this.$parent.addfav(fav)
      }
    }
  }
</script>

<style scoped>
.grid-container {
  display: grid;
  grid-gap: 50px;
  /* grid-template-columns: auto auto auto; */
  /* background-color: #2196F3; */
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

#favBtn {
  background-color: darkgray;
  font-size: 40px;
  color: gold;
  border-radius: 50%;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  position: inherit;
  left: 50%;
}

#favBtn:hover{
  cursor: pointer;
  color: gold;
  background-color: black;
}
</style>
