<template>
<div class="settings">
  <head>
    <meta charset="utf=8" />
    <title>Settings</title>

    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/classes.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  </head>

  <body>
    <h1>Settings</h1>
    <sidebar></sidebar>
    <div class="main">
      <div class="full">
        <h2>Dietary Restrictions:</h2>
        <div class="btn-group" role="group" id="dietaryRestrictions">
          <button
            class="btn"
            type="button"
            v-on:click="setDiet('none')"
            :class="{active: activeBtn === 'none' }"
          >None</button>
          <button
            class="btn"
            type="button"
            v-on:click="setDiet('vegetarian')"
            :class="{active: activeBtn === 'vegetarian' }"
          >Vegetarian</button>
          <button
            class="btn"
            type="button"
            v-on:click="setDiet('vegan')"
            :class="{active: activeBtn === 'vegan' }"
          >Vegan</button>
          <button
            class="btn"
            type="button"
            v-on:click="setDiet('glutenFree')"
            :class="{active: activeBtn === 'glutenFree' }"
          >Gluten Free</button>
        </div>

        <p></p>
        <div>
        <h2>Allergies:</h2>
        <input type="text" id="allergy" placeholder="Add an allergy..." />
        <button id="addAllergy" v-on:click="addAllergy()">Add</button>
        <button id="clearAllergy" v-on:click="clearAllergy()">Clear</button>
        <p>Your Allergies:
        <ul class="allergies" id="allergiesList" v-for="allergy in allergens">
          {{allergy}}
          <button v-on:click="deleteAllergy(allergy)">Delete</button>
        </ul>
        </p>
        </div>
        <p></p>
        <div>
        <h2>Maximum Calories per Meal:</h2>
        <p>Input the maximum amount of calories for the next meal</p>
          <input type="text" id="maxCalories" placeholder="Calories..." />
          <button id="setMaxCalories" v-on:click="setMaxCalories()">Set</button>
          <button id="clearMaxCalories" v-on:click="clearMaxCalories()">Clear</button>
          <p> Current Maximum Calories: {{maxCalories}} </p>
        </div>

      </div>
    </div>
  </body>
</div>
</template>

 <script>
/* eslint-disable */

import sidebar from "@/components/sidebar";

export default {
  name: "settings",
  components: {
    sidebar
  },
  data() {
    return {
      recipes: {},
      diet: "none",
      allergens: [],
      activeBtn: "none",
      maxCalories: "None"
    };
  },

  // loads allergies from local storage
  created: function() {
    if (localStorage.getItem("allergens")) {
      this.allergens = JSON.parse(localStorage.getItem("allergens"));
    }
    if (localStorage.getItem("diet")) {
      this.diet = JSON.parse(localStorage.getItem("diet"));
    }
    if (localStorage.getItem("maxCalories")) {
      this.maxCalories = JSON.parse(localStorage.getItem("maxCalories"));
    }
  },

  // lets enter key add allergies
  // highlights current dietary settings
  mounted: function() {
    var input = document.getElementById("allergy");
    if (input) {
      input.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
          event.preventDefault();
          document.getElementById("addAllergy").click();
        }
      });
    }
    input = document.getElementById("maxCalories");
    if (input) {
      input.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
          event.preventDefault();
          document.getElementById("setMaxCalories").click();
        }
      });
    }

    this.activeBtn = this.diet;
  },

  methods: {
    setDiet: function(choice) {
      this.diet = choice;
      localStorage.setItem("diet", JSON.stringify(this.diet));
      this.activeBtn = choice;
    },
    addAllergy: function(allergen) {
      var found = 0;
      var input = document.getElementById("allergy").value;
      input = input.trim();
      for (var i = 0; i < this.allergens.length; i++) {
        if (this.allergens[i].toUpperCase() === input.toUpperCase()) {
          alert("You already selected this food!");
          found = 1;
        }
      }

      var str = input.toLowerCase();
      var n =
        str.substr(0, 0) + str[0].toUpperCase() + str.substr(0 + 1, str.length);
      if (found === 0) {
        this.allergens.push(n.trim());
      }

      document.getElementById("allergy").value = "";
      console.log("Added allergy: " + input);
      localStorage.setItem("allergens", JSON.stringify(this.allergens));
    },
    test: function() {
      alert("Your diet is " + this.diet);
      console.log("Your diet is " + this.diet);
      alert("Your allergies include " + this.allergens);
      console.log("Your allergies include: " + this.allergens);
    },
    clearAllergy: function() {
      this.allergens = [];
      localStorage.removeItem("allergens");
    },
    deleteAllergy: function(allergy) {
      for (var i = 0; i < this.allergens.length; i++) {
        if (this.allergens[i] === allergy) {
          this.allergens.splice(i, 1);
        }
      }
      localStorage.setItem("allergens", JSON.stringify(this.allergens));
    },
    setMaxCalories: function() {
      
      this.maxCalories = document.getElementById("maxCalories").value;
      localStorage.setItem("maxCalories", JSON.stringify(this.maxCalories));
      document.getElementById("maxCalories").value = "";
;
    },
    clearMaxCalories: function() {
      this.maxCalories = "None";
      localStorage.removeItem("maxCalories")
    }
  }
};
</script>

<style scoped>
  /* Style the active class (and buttons on mouse-over) */
  .active, .btn:hover {
    background-color: rgb(255, 187, 0);
    color: white;
  }
  
</style>