<template>
  <div class="sidebar">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <router-link to="/">
      <i class="material-icons">home</i>
    </router-link>
    <router-link to="/settings">
      <i class="material-icons">settings_applications</i>
    </router-link>
    <router-link to="/favorites">
      <i class="material-icons">star</i>
    </router-link>
  </div>
</template>

<script>
/* eslint-disable */
  export default {
    name: 'sidebar',
    components: { },
    data(){
      return{
        favlist: [],
      }
    },
    watch: {
      favlist: {
        handler(){
          localStorage.setItem('favlist', JSON.stringify(this.favlist))
        },
        deep: true,
      },
    },
    mounted: function() {
        if(localStorage.getItem('favlist')){
          this.favlist = JSON.parse(localStorage.getItem('favlist'));
        }
    },
    methods: {
      open (link) {
        require('electron').shell.openExternal(link)
      }, 
      setVal(fav){
        let found = 0;
        for(var i=0;i<this.favlist.length;i++){
          if(this.favlist[i].title == fav.title){
            alert("You already favorited this!")
            found = 1;
            break;
          }
        }
        if(found != 1){
          this.favlist.push(fav);
        }
      }
    }
  }
</script>

<style>
.sidebar {
    height: 100%;
    width: 52px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #121212;
    overflow-x: hidden;
    padding-top: 20px;
    display: inline-block;
   }
.sidebar a {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    color: #818181;
    display: block;
   }
.sidebar a:hover {
    color: #f1f1f1;
   }
.sidebar i {
     font-size: 35px
   }

</style>