<template>
  <div id="app" v-cloak>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
    }
  }
}
</script>

<style>
  [v-cloak] { display: none; }
  #app {
    height: 100%;
    width: 100%;
  }
</style>